body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.border {
    border: 5px solid gold;
    background-color: purple;
    display: flex;
    align-items: center;
    padding: 20px;
}

.profile-image {
    width: 50px; /* Adjust as needed */
    height: 50px; /* Adjust as needed */
    border-radius: 50%; /* Make it circular */
    margin-right: 20px;
}

h1 {
    flex-grow: 1;
    text-align: center;
}

nav {
    background-color: purple;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}





