@charset "UTF-8";
#mainB {
  border: 5px solid #B8860B;
  border-radius: 10px;
  background-color: #EE82EE;
  margin-center: 25px;
  padding: 5px;
  color: #00FF7F;
  font-family: courier;
  float: center;
}

.links {
  text-align: center;
  font-family: courier;
  color: #00FF7F;
  
}
