body {
    background-color: black;
    color:  #00FF7F;
    font-family: courier;
    margin: 0;
    padding: 0;
}

.border {
    border: 5px solid #B88608;
    background-color: #4B0082;
    display: flex;
    align-items: center;
    padding: 20px;
}

h1 {
    flex-grow: 1;
    text-align: center;
}

nav {
    background-color:  #4B0082;
    padding: 10px 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #00FF7F;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.left {
background-color: #008B8B;
float: left;
width: 900px;
padding:1em;
margin:0px 1em 1em 0px;
  border:5px solid #B88608;
  font-size:105%;
  color:#FFD700;
}

#nav Cat{
 float:right;
  border:3px solid #000000;
}

.right{
  background-color: #008B8B;
float: right;
width: 800px;
padding:1em;
margin:0px 1em 1em 0px;
  border:5px solid #B88608;
  font-size:105%;
  color:#FFD700;
}

#imgCat{
  width:300px;
  height:300px;
  border:5px solid #B88608;
}

.AM{
  color: #BA55D3;
    font-family: courier;
    margin: 0;
    padding: 0;
}

#imgGhost{
  width:320px;
  height:370px;
  border:5px solid #B88608;
  float:left;
}

#CM{
  color: #BA55D3;
    font-family: courier;
    margin: 0;
    padding-right: 10px;
    padding-left: 10px;
}

.gridL{
  border:3px solid #B88608;
  float:left;
  width:500px;
  height:200px;
}

.gridR{
   border:3px solid #B88608;
  float:rigth;
  width:500px;
  height:200px;
}

.gridCent{
   border:3px solid #B88608;
  float:center;
  width:500px;
  height:200px;
}

