@charset "UTF-8";
#mainB {
  border: 5px solid #0099ff;
  border-radius: 10px;
  background-color: #cc99ff;
  margin-center: 25px;
  padding: 5px;
  color: #00FF7F;
  font-family: courier;
  float: center;
}

#AM {
  font-family: courier;
  color: #00FF7F;
}

#Resume {
  font-family: courier;
  color: #00FF7F;
}

#CM {
  font-family: courier;
  color: #00FF7F;
}

#Projects {
  font-family: courier;
  color: #00FF7F;
}

body {
  background-color: 000000;
}







