@charset "UTF-8";
body {
  background-color: 000000;
}

#mainB {
  border: 5px solid #B8860B;
  border-radius: 10px;
  background-color: #EE82EE;
  margin-center: 25px;
  padding: 5px;
  color: #00FF7F;
  font-family: courier;
  float: center;
}

#AM {
  font-family: courier;
  color: #00FF7F;
}

#Resume {
  font-family: courier;
  color: #00FF7F;
}

#CM {
  font-family: courier;
  color: #00FF7F;
}

#Projects {
  font-family: courier;
  color: #00FF7F;
}


